.home-page {
  background-color: #fcfbfc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home-page .div {
  background-color: #fcfbfc;
  width: 1440px;
  height: 4796px;
  position: relative;
}

.home-page .footer {
  position: absolute;
  width: 1439px;
  height: 339px;
  top: 4457px;
  left: 0;
  object-fit: cover;
}

.home-page .section-home {
  position: absolute;
  width: 1439px;
  height: 705px;
  top: 3752px;
  left: 0;
  object-fit: cover;
}

.home-page .img {
  position: absolute;
  width: 1439px;
  height: 696px;
  top: 3056px;
  left: 1px;
  object-fit: cover;
}

.home-page .section-home-2 {
  position: absolute;
  width: 1440px;
  height: 1154px;
  top: 1902px;
  left: 0;
  object-fit: cover;
}

.home-page .section-home-3 {
  position: absolute;
  width: 1440px;
  height: 776px;
  top: 1126px;
  left: 0;
  object-fit: cover;
}

.home-page .section-home-4 {
  position: absolute;
  width: 1439px;
  height: 247px;
  top: 879px;
  left: 1px;
  object-fit: cover;
}

.home-page .main-banner-home {
  position: absolute;
  width: 1440px;
  height: 779px;
  top: 100px;
  left: 0;
  object-fit: cover;
}

.home-page .header {
  position: absolute;
  width: 1439px;
  height: 100px;
  top: 0;
  left: 1px;
  object-fit: cover;
}
